#drawing{
    padding-left:15%;
    padding-top: 1%;
}

.specs{
    position: absolute;
    left:50px;
    padding-left:30px;
    width: 30px;
    height: 30px;
    font-size: 30px;
}
#Red{
    top:400px;
    background-color: red;
}
#Yellow{
    top:450px;
    background-color: #F4FF81;
}
#Orange{
    top:500px;
    background-color: #FF6D00;
}
#Blue{
    top:550px;
    background-color: #2979FF;
}
#idk{
    width: 250px;
    height: 50px;
    float: left;
    padding-left: 50px;
}
#Title{
    font-size: 50px;
    float: right;
    position: relative;
    padding-right: 900px;
    padding-bottom: 20px;
}