<div class="buttons">
  <div class="btn-group btn-group-toggle text-center" data-toggle="buttons">
    <label class="btn btn-secondary active">
      <input type="radio" name="options" id="option1" autocomplete="off" checked><a [routerLink]="'/ED'"> Entries and Departures </a>
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option2" autocomplete="off"> <a [routerLink]="'/incidents'"> Incidents </a>
    </label>
  </div>
</div>
<div *ngIf="chart">
  <canvas id="canvas">{{ chart }}</canvas>
</div>